.Rectangle1 {
  /* Rectangle 1 */



  background: linear-gradient(
    117.07deg,
    #3b82f6 -29.07%,
    rgba(217, 217, 217, 0) 134.19%
  );
}

.vector2 {
  position: absolute;
  height: 96.37989807128906px;
  width: 89.98941802978516px;
  left: 390.81982421875px;
  top: 66.45687866210938px;
  border-radius: 0px;
}

.classABCD {
  /* classABCD */

  position: absolute;
  width: 176.64px;
  height: 26.85px;
  left: 499.5px;
  top: 73.63px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #000000;
}
.learning {
  /* Learning Center */

  position: absolute;
  width: 197.75px;
  height: 26.85px;
  left: 499.5px;
  top: 94.17px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #f97316;
}
.Rectangle30 {
  /* Rectangle 30 */



  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.RectangleScolarship {
  /* Rectangle 31 */
  
    position: absolute;
    width: 126.91px;
    height: 38.63px;
    left: 0px;
    top: -5px;
    padding-top: 5px;
    background: #deeafe;
    border-radius: 11px;
  
}

.RectangleEnglish {
  /* Rectangle 31 */
  &:hover {
    position: absolute;
    width: 126.91px;
    height: 38.63px;
    left: -30px;
    top: -5px;
    padding-top: 5px;
    background: #deeafe;
    border-radius: 11px;
  }
}
.RectangleChinese {
  /* Rectangle 31 */
  &:hover {
    position: absolute;
    width: 126.91px;
    height: 38.63px;
    left: -40px;
    top: -5px;
    padding-top: 5px;

    background: #deeafe;
    border-radius: 11px;
  }
}

.Scolarship {
  /* Scholarship */

  position: absolute;
  width: 106px;
  height: 27px;
  left: 865.71px;
  top: 90px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.Amharic {
  /* Amharic */

  position: absolute;
  width: 77px;
  height: 27px;
  left: 971.67px;
  top: 90px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.English {
  /* English */

  position: absolute;
  width: 63px;
  height: 27px;
  left: 1027.92px;
  top: 90px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.Chinese {
  /* chinese */

  position: absolute;
  width: 71px;
  height: 27px;
  left: 1146.11px;
  top: 90px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.Rectangle36 {
  /* Rectangle 36 */

  position: absolute;
  width: 59.52px;
  height: 49.05px;
  left: 1364.7px;
  top: 78.98px;

  background: #f97316;
  border-radius: 15px;
}

.unsplash {
  position: absolute;
  width: 1019.32px;
  height: 670.39px;
  left: -36.66px;
  top: 0px;
  object-fit: cover;

  border-radius: 67px;
}
.vector3 {
  /* Vector */

  position: absolute;
  height: 20.619569778442383px;
  width: 20.60748291015625px;
  left: 1386.6294555664062px;
  top: 93.19103240966797px;
  border-radius: 0px;
}

.vector4 {
  /* Vector */

  position: absolute;
  height: 23.505882263183594px;
  width: 43.03125px;
  left: 1469.4072265625px;
  top: 87.560546875px;
  border-radius: 0px;
}
.Language {
  /* Language */

  position: absolute;
  width: 62px;
  height: 16.62px;
  left: 1467.18px;
  top: 115.03px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: underline;

  color: #f97316;
}

.modal {
  /* Language */

  position: absolute;

  left: 1467.18px;
  top: 115.03px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: underline;

  color: #000;
}

.Rectangle37 {
  position: absolute;
  width: 1019.32px;
  height: 670.39px;
  left: 220.82px;
  top: 251.09px;
}
.Mostpopular {
  /* Most popular */

  position: absolute;
  width: 170px;
  height: 38px;
  left: 220.82px;
  top: 201.09px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */

  color: #00bbf0;
}

.MostRecent {
  /* Most Recent */

  position: absolute;
  width: 158px;
  height: 38px;
  left: 1240.76px;
  top: 201.09px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */

  color: #00bbf0;
}
.Frame26 {
  width: 600px;
  height: 146px;

  background: #f2f7ff;
  border-radius: 29px;
}
.frame26position {
  position: absolute;

  left: 1241px;
  top: 248px;
}

.unsplash4 {
  width: 151.54px;
  height: 145.91px;
}
.Toprated {
  /* Top rated */

  position: absolute;
  width: 183px;
  height: 41px;
  left: 163px;
  top: 1234.52px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 40px;
  /* identical to box height */

  color: #000000;
}
.Toprated2 {
  /* Top rated */

  position: absolute;
  width: 1583px;
  height: 41px;
  top: 250px;
  left: 200px;
  

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 40px;
  /* identical to box height */

  color: #000000;
}
.Toprated2English {
  /* Top rated */

  position: absolute;
  width: 583px;
  height: 41px;
  left: 163px;
  top: 2934.52px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 40px;
  /* identical to box height */

  color: #000000;
}

.Toprated3 {
  /* Top rated */

  position: absolute;
  width: 183px;
  height: 41px;
  left: 163px;
  top: 1234.52px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 40px;
  /* identical to box height */

  color: #000000;
}

.Toprated3Chineese {
  /* Top rated */

  position: absolute;
  width: 183px;
  height: 41px;
  left: 163px;
  top: 3734.52px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 40px;
  /* identical to box height */

  color: #000000;
}
.next {
  /* Top rated */

  position: absolute;
  width: 43px;
  height: 41px;
  left: 863px;
  top: 4634.52px;
  border: solid;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 40px;
  /* identical to box height */

  color: #000000;
  &:focus {
    background: #f97316;
  }
}

.prev {
  /* Top rated */

  position: absolute;
  width: 43px;
  height: 41px;
  left: 813px;
  top: 4634.52px;
  border: solid;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 40px;
  /* identical to box height */

  color: #000000;
  &:focus {
    background: #f97316;
  }
}
.TheclassABCD {
  position: absolute;
  width: 263.29px;
  height: 105px;
  left: 154.04px;
  top: 17.81px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

.date {
  width: 82px;
  height: 21px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #a9a9a9;
}

.Mostpopular2 {
  /* Most popular */

  position: absolute;
  width: 184px;
  height: 41px;
  left: 160.14px;
  top: 1706.96px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 40px;
  /* identical to box height */

  color: #000000;
}

.Related {
  /* Related */

  position: absolute;
  width: 107px;
  height: 41px;
  left: 164.57px;
  top: 2323.87px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 40px;
  /* identical to box height */

  color: #000000;
}

.title {
  width: 300.31px;
  height: 31.77px;
  margin: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  color: #000000;
}
.subtitle {
  margin: 4px;
  width: 357.81px;
  height: 294.99px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}
.subtitlemini {
  margin: 4px;
  margin-top: 16px;
  width: 407.81px;
  height: 94.99px;
  padding-left: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

.img {
  width: 342px;
  height: 276px;
  padding: 4px;
  object-fit: cover;
}
.img2 {
  width: 342px;
  height: 276px;
  padding: 4px;
  object-fit: cover;
}
.date {
  width: 85.37px;
  height: 30.47px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #383838;
}

.TopDate {
  /* 2023-10-21᎐ */

  position: absolute;
  width: 82px;
  height: 21px;
  left: 220.28px;
  top: 936.49px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #383838;
}
.Datemini {
  /* 2023-10-21᎐ */

  width: 182px;
  height: 11px;
  padding-left: 20px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  /* identical to box height */

  color: #383838;
}
.TopTitle {
  /* 2023-10-21᎐ */

  position: absolute;
  width: 335.17px;
  height: 41px;
  left: 220.28px;
  top: 956.49px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 40px;
  /* identical to box height */

  color: #000000;
}
.TopSubTitle {
  /* 2023-10-21᎐ */

  position: absolute;
  width: 954.28px;
  height: 108px;
  left: 220.28px;
  top: 996.49px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #000000;
}


@media only screen and (max-width: 600px) {
  
    .Rectangle1 {
      /* Rectangle 1 */
 
    
      background: linear-gradient(
        117.07deg,
        #3b82f6 -29.07%,
        rgba(217, 217, 217, 0) 134.19%
      );
    }
      .vector2 {
        position: absolute;
        height: 96.37989807128906px;
        width: 89.98941802978516px;
        left:40px;
        top: 66.45687866210938px;
        border-radius: 0px;
      }
      .classABCD {
        /* classABCD */
      
        position: absolute;
        width: 176.64px;
        height: 26.85px;
        left: 139.5px;
        top: 73.63px;
      
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
      
        color: #000000;
      }
  
      .learning {
        /* Learning Center */
      
        position: absolute;
        width: 197.75px;
        height: 26.85px;
        left: 139.5px;
        top: 94.17px;
      
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
      
        color: #f97316;
      }
  
      .Rectangle36 {
        /* Rectangle 36 */
      
        position: absolute;
        width: 59.52px;
        height: 49.05px;
        left: 444.7px;
        top: 78.98px;
      
        background: #f97316;
        border-radius: 15px;
      }
      .vector3 {
        /* Vector */
      
        position: absolute;
        height: 20.619569778442383px;
        width: 20.60748291015625px;
        left: 466px;
        top: 93.19103240966797px;
        border-radius: 0px;
      }
      .vector4 {
        /* Vector */
      
        position: absolute;
        height: 23.505882263183594px;
        width: 43.03125px;
        left: 526px;
        top: 77.560546875px;
        border-radius: 0px;
      }
      .Language {
        /* Language */
      
        position: absolute;
        width: 62px;
        height: 16.62px;
        left: 526px;
        top: 102.560546875px;
      
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        text-decoration-line: underline;
      
        color: #f97316;
      }
      .Rectangle30 {
        /* Rectangle 30 */
      
      
      
        background: rgba(255, 255, 255, 0.2);
        border-radius: 15px;
      }
  
      .RectangleScolarship {
        /* Rectangle 31 */
        &:hover {
          position: absolute;
          width: 126.91px;
          height: 38.63px;
          left: 0px;
          top: -5px;
          padding-top: 5px;
          background: #deeafe;
          border-radius: 11px;
        
      }}
      
      .RectangleEnglish {
        /* Rectangle 31 */
        &:hover {
          position: absolute;
          width: 126.91px;
          height: 38.63px;
          left: -30px;
          top: -5px;
          padding-top: 5px;
          background: #deeafe;
          border-radius: 11px;
        
      }}
      .RectangleChinese {
        /* Rectangle 31 */
        &:hover {
          position: absolute;
          width: 126.91px;
          height: 38.63px;
          left: -40px;
          top: -5px;
          padding-top: 5px;
      
          background: #deeafe;
          border-radius: 11px;
        
      }}
      
  .Scolarship {
    /* Scholarship */
  
    position: absolute;
    width: 106px;
    height: 27px;
    left: 170.71px;
    top: 190px;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
  
    color: #000000;
  }
  
  .English {
    /* English */
  
    position: absolute;
    width: 63px;
    height: 27px;
    left: 327.92px;
    top: 190px;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
  
    color: #000000;
  }
  .Chinese {
    /* chinese */
  
    position: absolute;
    width: 71px;
    height: 27px;
    left: 456.11px;
    top: 190px;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
  
    color: #000000;
  }
  .next {
    /* Top rated */
  
    position: absolute;
    width: 43px;
    height: 41px;
    left: 863px;
    top: 4634.52px;
    border: solid;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 40px;
    /* identical to box height */
  
    color: #000000;
    &:focus {
      background: #f97316;
    }
  }
  

  
  .next {
    /* Top rated */
  
    position: absolute;
    width: 43px;
    height: 41px;
    left: 423px;
    top: 6334.52px;
    border: solid;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 40px;
    /* identical to box height */
  
    color: #000000;
    &:focus {
      background: #f97316;
    }
  }
  
  .prev {
    /* Top rated */
  
    position: absolute;
    width: 43px;
    height: 41px;
    left: 113px;
    top: 6334.52px;
    border: solid;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 40px;
    /* identical to box height */
  
    color: #000000;
    &:focus {
      background: #f97316;
    }

  }


  .Toprated2 {
    /* Top rated */
  
    position: absolute;
    width: 1583px;
    height: 41px;
    top: 250px;
    left: 100px;
    
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 40px;
    /* identical to box height */
  
    color: #000000;
  }}