.Rectangle1 {
  /* Rectangle 1 */

  position: absolute;
  width: fill;
  
  height: fill;
  left: 0px;
  top: 0px;

  background: linear-gradient(
    117.07deg,
    #3b82f6 -29.07%,
    rgba(217, 217, 217, 0) 134.19%
  );
}

.vector2 {
  /* Vector */

  position: absolute;
  height: 97.294189453125px;
  width: 84.61083984375px;
  left: 281.6689453125px;
  top: 94.42095184326172px;
  border-radius: 0px;
}

.classABCD {
  /* classABCD */

  position: absolute;
  width: 214.51px;
  height: 37.61px;
  left: 383.98px;
  top: 90.47px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;

  color: #000000;
}

.learning {
  /* Learning Center */

  position: absolute;
  width: 277px;
  height: 37.61px;
  left: 385.93px;
  top: 128.08px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;

  color: #f97316;
}

.TheclassABCD {
  position: absolute;
  width: 490.14px;
  height: 108px;
  left: 281.67px;
  top: 210.1px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #000000;
}

.Rectangle3 {
  /* Rectangle 3 */

  box-sizing: border-box;

  position: absolute;
  width: 486.86px;
  height: 395.05px;
  left: 284.95px;
  top: 344.03px;

  border: 2px solid #ffffff;
  border-radius: 27px;
}

.phoneNo {
  position: absolute;
  width: 133px;
  height: 27px;
  left: 308.39px;
  top: 365.64px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.Rectangle22 {
  /* Rectangle 22 */

  position: absolute;
  width: 429.24px;
  height: 61.42px;
  left: 308.39px;
  top: 401.5px;
  padding-left: 20px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 13px;
}

.password {
  /* Password */

  position: absolute;
  width: 87px;
  height: 27px;
  left: 312.19px;
  top: 487.5px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}

.Rectangle23 {
  /* Rectangle 23 */

  position: absolute;
  width: 429.24px;
  height: 61.42px;
  left: 312.19px;
  top: 518.32px;

  background: #d5e2f9;
  border-radius: 13px;
}

.checkbox {
  /* Rectangle 24 */

  box-sizing: border-box;

  position: absolute;
  width: 18.42px;
  height: 15.79px;
  left: 314.92px;
  top: 603.9px;

  border: 1px solid #f97316;
  border-radius: 2px;
}

.keep {
  /* keep me signed in */

  position: absolute;
  width: 168px;
  height: 27px;
  left: 343.76px;
  top: 598.29px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #595959;
}

.forgot {
  /* Forgot Password? */

  position: absolute;
  width: 164px;
  height: 27px;
  left: 556.2px;
  top: 598.29px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #595959;
}

.Rectangle25 {
  /* Rectangle 25 */

  position: absolute;
  width: 200.82px;
  height: 61.24px;
  left: 422.79px;
  top: 649.88px;

  background: #00bbf0;
  border-radius: 15px;
}

.login {
  /* Log in */

  position: absolute;
  width: 66px;
  height: 33px;
  left: 60.2px;
  top: 16px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  color: #ffffff;
}

.Rectangle21 {
  /* Rectangle 21 */

  position: absolute;
  width: 481.5px;
  height: 61.24px;
  left: 290.31px;
  top: 774.99px;

  background: #f97316;
  border-radius: 12px;
}

.Register {
  /* Register */

  position: absolute;
  width: 94px;
  height: 33px;
  left: 180.61px;
  top:19.11px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  color: #ffffff;
}

.frame {
  /* Frame */

  position: absolute;
  width: 666px;
  height: 608px;
  left: 886.62px;
  top: 251.53px;
}

.frame2 {
  /* Frame 2 */

  position: absolute;
  width: 671px;
  height: 291.07px;
  left: 585.21px;
  top: 370.89px;

  background: #82adf3;
  box-shadow: 0px 4px 174px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
}

.forgot2 {
  /* Forgot password */

  position: absolute;
  width: 225.46px;
  height: 34.62px;
  left: 28.42px;
  top: 9.99px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  color: #ffffff;
}

.frame3 {
  /* Frame 3 */

  position: absolute;
  width: 670px;
  height: 82px;
  left: 0;
  bottom: 0;

  background: #f97316;
  border-radius: 0px 0px 36px 36px;
}

.send {
  /* send */

  position: absolute;
  width: 127px;
  height: 75px;
  left: 271.5px;
  top: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  /* identical to box height */

  color: #ffffff;
}

.phone2 {
  /* Phone number */

  position: absolute;
  width: 233px;
  height: 27px;
  left: 120.88px;
  top: 70.68px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}

.Rectangle27 {
  /* Rectangle 22 */

  position: absolute;
  width: 429.24px;
  height: 61.42px;
  left: 120.88px;
  top: 106.54px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 13px;
}

.verification {
  /* verification code */

  position: absolute;
  width: 156px;
  height: 27px;
  left: 230.18px;
  top: 183.04px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}

.Rectangle28 {
  /* Rectangle 22 */

  position: absolute;
  width: 275.55px;
  height: 61.42px;
  left: 178.27px;
  top: 220.41px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 13px;
}

.TheclassABCD2 {
  position: absolute;
  width: 545.19px;
  height: 81px;
  left: 77.27px;
  top: 85.12px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #000000;
}

.frame4 {
  /* Frame 2 */

  position: absolute;
  width: 671px;
  height: 387.38px;
  left: 546.9px;
  top: 267.54px;

  background: #82adf3;
  box-shadow: 0px 4px 174px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
}

.frame5 {
  /* Frame 2 */

  position: absolute;
  width: 617px;
  height: 450px;
  left: 622px;
  top: 290px;

  background: #82adf3;
  box-shadow: 0px 4px 174px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
}

.frame6 {
  /* Frame 3 */

  position: absolute;
  width: 617px;
  height: 61px;
  bottom: 0;

  background: #f97316;
  border-radius: 0px 0px 36px 36px;
}

.send2 {
  /* Save */

  position: absolute;
  width: 64px;
  height: 38px;
  left: 265.65px;
  top: 8px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */

  color: #ffffff;
}

.create {
  /* Create new password */

  position: absolute;
  width: 204.37px;
  height: 28.01px;
  left: 96.65px;
  top: 71.97px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #000000;
}
.confirm {
  /* Confirm password */

  position: absolute;
  width: 172.21px;
  height: 28.01px;
  left: 96.65px;
  top: 195.94px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #000000;
}
.Rectangle29 {
  /* Rectangle 22 */

  position: absolute;
  width: 463.96px;
  height: 63.72px;
  left: 96.65px;
  top: 107.14px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 13px;
}
.Rectangle30 {
  /* Rectangle 23 */

  position: absolute;
  width: 463.96px;
  height: 63.72px;
  left: 96.65px;
  top: 231.11px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 13px;
}
