.Rectangle1 {
  /* Rectangle 1 */

  position: absolute;
  width: 1921.07px;
  height: 3165.67px;
  left: -1.07px;
  top: 0px;

  background: linear-gradient(
    117.07deg,
    #3b82f6 -29.07%,
    rgba(217, 217, 217, 0) 134.19%
  );
}

.vector2 {
  position: absolute;
  height: 96.37989807128906px;
  width: 89.98941802978516px;
  left: 390.81982421875px;
  top: 66.45687866210938px;
  border-radius: 0px;
}

.classABCD {
  /* classABCD */

  position: absolute;
  width: 176.64px;
  height: 26.85px;
  left: 499.5px;
  top: 73.63px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #000000;
}
.learning {
  /* Learning Center */

  position: absolute;
  width: 197.75px;
  height: 26.85px;
  left: 499.5px;
  top: 94.17px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #f97316;
}
.Rectangle30 {
  /* Rectangle 30 */

  position: absolute;
  width: 466.2px;
  height: 49.05px;
  left: 821.24px;
  top: 78.98px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}
.Rectangle31 {
  /* Rectangle 31 */

  position: absolute;
  width: 126.91px;
  height: 38.63px;
  left: 825.85px;
  top: 84.19px;

  background: #deeafe;
  border-radius: 11px;
}

.Scolarship {
  /* Scholarship */

  position: absolute;
  width: 106px;
  height: 27px;
  left: 835.71px;
  top: 90px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.Amharic {
  /* Amharic */

  position: absolute;
  width: 77px;
  height: 27px;
  left: 971.67px;
  top: 90px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.English {
  /* English */

  position: absolute;
  width: 63px;
  height: 27px;
  left: 1087.92px;
  top: 90px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.Chinese {
  /* chinese */

  position: absolute;
  width: 71px;
  height: 27px;
  left: 1196.11px;
  top: 90px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.Rectangle36 {
  /* Rectangle 36 */

  position: absolute;
  width: 59.52px;
  height: 49.05px;
  left: 1364.7px;
  top: 78.98px;

  background: #f97316;
  border-radius: 15px;
}

.unsplash {
  position: absolute;
  width: 1019.32px;
  height: 670.39px;
  left: -36.66px;
  top: 0px;

  border-radius: 67px;
}
.vector3 {
  /* Vector */

  position: absolute;
  height: 20.619569778442383px;
  width: 20.60748291015625px;
  left: 1386.6294555664062px;
  top: 93.19103240966797px;
  border-radius: 0px;
}

.vector4 {
  /* Vector */

  position: absolute;
  height: 23.505882263183594px;
  width: 43.03125px;
  left: 1469.4072265625px;
  top: 87.560546875px;
  border-radius: 0px;
}
.Language {
  /* Language */

  position: absolute;
  width: 62px;
  height: 16.62px;
  left: 1467.18px;
  top: 115.03px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: underline;

  color: #f97316;
}

.Rectangle37 {
  position: absolute;
  width: 1019.32px;
  height: 670.39px;
  left: 220.82px;
  top: 251.09px;
}
.Mostpopular {
  /* Most popular */

  position: absolute;
  width: 170px;
  height: 38px;
  left: 220.82px;
  top: 201.09px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */

  color: #00bbf0;
}

.MostRecent {
  /* Most Recent */

  position: absolute;
  width: 158px;
  height: 38px;
  left: 1240.76px;
  top: 201.09px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */

  color: #00bbf0;
}
.Frame26 {
  position: absolute;
  width: 440px;
  height: 146px;
  left: 1241px;
  top: 248px;

  background: #f2f7ff;
  border-radius: 29px;
}

.unsplash4 {
  position: absolute;
  width: 151.54px;
  height: 145.91px;
  left: -5.11px;
  top: 0px;

  border-radius: 26px;
}
.Toprated {
  /* Top rated */

  position: absolute;
  width: 133px;
  height: 41px;
  left: 163px;
  top: 1134.52px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 40px;
  /* identical to box height */

  color: #000000;
}
.TheclassABCD{
    
position: absolute;
width: 263.29px;
height: 105px;
left: 154.04px;
top: 17.81px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;

color: #000000;

}


.date{
    position: absolute;
    width: 82px;
    height: 21px;
    left: 154.04px;
    top: 122.81px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #A9A9A9;
    
}


.Mostpopular2 {
  /* Most popular */

  position: absolute;
  width: 184px;
  height: 41px;
  left: 160.14px;
  top: 1706.96px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 40px;
  /* identical to box height */

  color: #000000;
}

.Related {
  /* Related */

  position: absolute;
  width: 107px;
  height: 41px;
  left: 164.57px;
  top: 2323.87px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 40px;
  /* identical to box height */

  color: #000000;
}
