.Rectangle32 {
  /* Rectangle 32 */

  position: absolute;
  width: 2030px;;
  height: 565.63px;
  left: -23.92px;
 

  background: #f97316;
}
.home {
  /* Home */

  position: absolute;
  width: 107px;
  height: 45px;
  left: 50px;
  top:300px;
 

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 45px;
  /* identical to box height */

  color: #ffffff;
}

.aboutUs {
  position: absolute;
  width: 164px;
  height: 45px;
  left: 200px;
  top:300px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 45px;
  /* identical to box height */

  color: #ffffff;
}

.vector {
  position: absolute;

  height: 186.9755859375px;
  width: 185.7081756591797px;
  left: 50px;
  top: 50px;
  border-radius: 0px;
}
.classABCD {
  position: absolute;
  width: 258.82px;
  height: 55.41px;
  left: 300px;
  top: 70px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 45px;

  color: #ffffff;
}
.learning {
  position: absolute;
  width: 289.75px;
  height: 55.41px;
  
  left: 300px;
  top: 110px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;

  color: #000000;
}
.ourMission {
  position: absolute;
  width: 273px;
  height: 38px;
  left: 300px;
  top: 160px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}
.contact {
  position: absolute;
  width: 198px;
  height: 45px;
  left: 400px;
  top:300px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 45px;
  /* identical to box height */

  color: #ffffff;
}
.faqs {
  position: absolute;
  width: 95px;
  height: 45px;
  left: 650px;
  top:300px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 45px;
  /* identical to box height */

  color: #ffffff;
}
.languages {
  position: absolute;
  width: 87px;
  height: 19px;
  left: 70px;
  top:370px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
.english {
  position: absolute;
  width: 58px;
  height: 19px;
  left: 70px;
  top:400px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
.chinese {
  position: absolute;
  width: 62px;
  height: 19px;
  left: 70px;
  top:430px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
.scolarship {
  position: absolute;
  width: 92px;
  height: 19px;
  left: 70px;
  top:460px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
.allrights {
  /* 2023 classABCD.All Rights reserved. */

  position: absolute;
  width: 218px;
  height: 15px;
  left: 300px;
  top:500px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #3d3d3d;
}


@media only screen and (max-width: 600px) {
  .Rectangle32 {
    /* Rectangle 32 */
  
    position: absolute;
    width: 600px;;
    height: 565.63px;
    left: 0px;
   
  
    background: #f97316;
  }
  .faqs {
    position: absolute;
    width: 95px;
    height: 45px;
    left: 450px;
    top:400px;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 45px;
    /* identical to box height */
  
    color: #ffffff;
  }
}