.Rectangle1 {
  /* Rectangle 1 */

  position: absolute;
  width: fill;
  height: 3165.67px;
  left: -1.07px;
  top: 0px;

  background: linear-gradient(
    117.07deg,
    #3b82f6 -29.07%,
    rgba(217, 217, 217, 0) 134.19%
  );
}
.unsplash4 {
  width: 164px;
  height: 146px;
  padding: 4px;
  object-fit: cover;
  border-radius: 29px;
}
.vector2 {
  /* Vector */

  position: absolute;
  height: 96.37989807128906px;
  width: 89.98941802978516px;
  left: 94.385498046875px;
  top: 66.45687103271484px;
  border-radius: 0px;
}

.classABCD {
  /* classABCD */

  position: absolute;
  width: 176.64px;
  height: 26.85px;
  left: 203.07px;
  top: 73.63px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #000000;
}
.learning {
  /* Learning Center */

  position: absolute;
  width: 197.75px;
  height: 26.85px;
  left: 203.07px;
  top: 94.17px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #f97316;
}
.Rectangle30 {
  /* Rectangle 30 */

  position: absolute;
  width: 366.2px;
  height: 49.05px;
  left: 634.65px;
  top: 74.14px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.Scolarship {
  /* Scholarship */

  position: absolute;
  width: 106px;
  height: 27px;
  left: 649.12px;
  top: 85.17px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.Amharic {
  /* Amharic */

  position: absolute;
  width: 77px;
  height: 27px;
  left: 785.07px;
  top: 85.17px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.English {
  /* English */

  position: absolute;
  width: 63px;
  height: 27px;
  left: 801.33px;
  top: 85.17px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.Chinese {
  /* chinese */

  position: absolute;
  width: 71px;
  height: 27px;
  left: 909.52px;
  top: 85.17px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.Rectangle36 {
  /* Rectangle 36 */

  position: absolute;
  width: 59.52px;
  height: 49.05px;
  left: 1157.28px;
  top: 74.14px;

  background: #f97316;
  border-radius: 15px;
}

.vector3 {
  /* Vector */

  position: absolute;
  height: 20.619569778442383px;
  width: 20.60748291015625px;
  left: 1179.2177734375px;
  top: 88.35779571533203px;
  border-radius: 0px;
}

.vector4 {
  /* Vector */

  position: absolute;
  height: 23.505882263183594px;
  width: 43.03125px;
  left: 1282.813232421875px;
  top: 82.72730255126953px;
  border-radius: 0px;
}
.Language {
  /* Language */

  position: absolute;
  width: 62px;
  height: 16.62px;
  left: 1280.59px;
  top: 110.19px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: underline;

  color: #f97316;
}

.Rectangle48 {
  /* Rectangle 38 */

  box-sizing: border-box;

  position: absolute;
  width: 142.67px;
  height: 41.66px;
  left: 1386.65px;
  top: 249.67px;

  border: 3px solid #000000;
  border-radius: 4px;
}
.latest {
  /* latest */

  position: absolute;
  width: 67.02px;
  height: 27px;
  left: 1429.41px;
  top: 257px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.Rectangle31 {
  /* Rectangle 31 */

  position: absolute;
  width: 142.67px;
  height: 51.66px;
  left: 1389.06px;
  top: 182.63px;

  background: #f97316;
  border-radius: 14px;
}
.Mostpopular {
  /* Most popular */

  position: absolute;
  width: 170px;
  height: 38px;
  left: 1237.26px;
  top: 343.99px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */

  color: #00bbf0;
}

.Results {
  /* Results */

  position: absolute;
  width: 94px;
  height: 38px;
  left: 206.39px;
  top: 343.99px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */

  color: #00bbf0;
}

.RectangleSearch {
  /* Rectangle 37 */

  box-sizing: border-box;
  padding-left: 50px;
  position: absolute;
  width: 1075.56px;
  height: 54.44px;
  left: 457.66px;
  top: 180.95px;

  background: rgba(255, 255, 255, 0.2);

  border: 1px solid #000000;
  border-radius: 15px;
}
.RectangleSearch a:hover {
  background: #ffff;
}
.Rectangle33 {
  /* Rectangle 33 */

  position: absolute;
  width: 126.91px;
  height: 38.63px;
  left: 639.25px;
  top: 79.35px;

  background: #deeafe;
  border-radius: 11px;
}

.Search {
  /* Search */

  position: absolute;
  width: 71.21px;
  height: 27px;
  left: 1425.22px;
  top: 194.7px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}

.Rectangle37 {
  /* Rectangle 37 */

  position: absolute;
  width: 118.92px;
  height: 38.02px;
  left: 557.6px;
  top: 245.99px;

  background: #deeafe;
  border-radius: 15px;
}
.Rectangle38 {
  /* Rectangle 38 */

  position: absolute;
  width: 118.92px;
  height: 38.02px;
  left: 687.22px;
  top: 245.99px;

  background: #deeafe;
  border-radius: 15px;
}
.Rectangle39 {
  /* Rectangle 39 */

  position: absolute;
  width: 118.92px;
  height: 38.02px;
  left: 821.28px;
  top: 245.99px;

  background: #deeafe;
  border-radius: 15px;
}
.Rectangle40 {
  /* Rectangle 40 */

  position: absolute;
  width: 118.92px;
  height: 38.02px;
  left: 955.34px;
  top: 245.99px;

  background: #deeafe;
  border-radius: 15px;
}
.Rectangle41 {
  /* Rectangle 41 */

  position: absolute;
  width: 118.92px;
  height: 38.02px;
  left: 1084.96px;
  top: 245.99px;

  background: #deeafe;
  border-radius: 15px;
}
.Rectangle42 {
  /* Rectangle 42 */

  position: absolute;
  width: 118.92px;
  height: 38.02px;
  left: 1219.01px;
  top: 245.99px;

  background: #deeafe;
  border-radius: 15px;
}
.Rectangle45 {
  /* Rectangle 45 */

  position: absolute;
  width: 118.92px;
  height: 38.02px;
  left: 694.11px;
  top: 305.96px;

  background: #deeafe;
  border-radius: 15px;
}
.Rectangle44 {
  /* Rectangle 44 */

  position: absolute;
  width: 118.92px;
  height: 38.02px;
  left: 962.22px;
  top: 305.96px;

  background: #deeafe;
  border-radius: 15px;
}
.Rectangle47 {
  /* Rectangle 47 */

  position: absolute;
  width: 118.92px;
  height: 38.02px;
  left: 828.17px;
  top: 305.96px;

  background: #deeafe;
  border-radius: 15px;
}
.Rectangle46 {
  /* Rectangle 46 */

  position: absolute;
  width: 118.92px;
  height: 38.02px;
  left: 1091.84px;
  top: 305.96px;

  background: #deeafe;
  border-radius: 15px;
}

.vector5 {
  position: absolute;
  height: 20.619569778442383px;
  width: 22.233932495117188px;
  left: 475.218017578125px;
  top: 199.57974243164062px;
  border-radius: 0px;
}
.Frame26 {
  width: 850px;
  height: 146px;

  background: #f2f7ff;
  border-radius: 29px;
}
.frame26position {
  position: absolute;

  left: 211px;
  top: 428px;
}
.subtitlemini {
  margin: 4px;
  margin-top: 16px;
  width: 657.81px;
  height: 94.99px;
  padding-left: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}
.Datemini {
  /* 2023-10-21᎐ */

  width: 182px;
  height: 11px;
  padding-left: 20px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  /* identical to box height */

  color: #383838;
}

.Frame262 {
 
  width: 600px;
  height: 146px;
 

  background: #f97316;
  border-radius: 29px;
}
.frame26position2{
  position: absolute;
  
  left: 1241px;
  top: 448px;
}
.subtitlemini2 {
  margin: 4px;
  margin-top:16px;
  width: 407.81px;
  height: 94.99px;
  padding-left: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}
.Datemini2 {
  /* 2023-10-21᎐ */

  width: 182px;
  height: 11px;
  padding-left: 25px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  /* identical to box height */

  color: #383838;
}