.Rectangle1 {
  /* Rectangle 1 */

  position: absolute;
  width: 1921.07px;
  height: 189.88px;
  left: -0.03px;
  top: -0.63px;

  background: linear-gradient(
    117.07deg,
    #3b82f6 -29.07%,
    rgba(217, 217, 217, 0) 134.19%
  );
}

.vector2 {
  /* Vector */

  position: absolute;
  height: 96.37989807128906px;
  width: 89.98941802978516px;
  left: 94.385498046875px;
  top: 66.45687103271484px;
  border-radius: 0px;
}

.classABCD {
  /* classABCD */

  position: absolute;
  width: 176.64px;
  height: 26.85px;
  left: 203.07px;
  top: 73.63px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #000000;
}
.learning {
  /* Learning Center */

  position: absolute;
  width: 197.75px;
  height: 26.85px;
  left: 203.07px;
  top: 94.17px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #f97316;
}
.Rectangle30 {
  /* Rectangle 30 */

  position: absolute;
  width: 466.2px;
  height: 49.05px;
  left: 634.65px;
  top: 74.14px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.Scolarship {
  /* Scholarship */

  position: absolute;
  width: 106px;
  height: 27px;
  left: 649.12px;
  top: 85.17px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.Amharic {
  /* Amharic */

  position: absolute;
  width: 77px;
  height: 27px;
  left: 785.07px;
  top: 85.17px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.English {
  /* English */

  position: absolute;
  width: 63px;
  height: 27px;
  left: 901.33px;
  top: 85.17px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.Chinese {
  /* chinese */

  position: absolute;
  width: 71px;
  height: 27px;
  left: 1009.52px;
  top: 85.17px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.Rectangle36 {
  /* Rectangle 36 */

  position: absolute;
  width: 59.52px;
  height: 49.05px;
  left: 1157.28px;
  top: 74.14px;

  background: #f97316;
  border-radius: 15px;
}

.vector3 {
  /* Vector */

  position: absolute;
  height: 20.619569778442383px;
  width: 20.60748291015625px;
  left: 1179.2177734375px;
  top: 88.35779571533203px;
  border-radius: 0px;
}

.vector4 {
  /* Vector */

  position: absolute;
  height: 23.505882263183594px;
  width: 43.03125px;
  left: 1282.813232421875px;
  top: 82.72730255126953px;
  border-radius: 0px;
}
.Language {
  /* Language */

  position: absolute;
  width: 62px;
  height: 16.62px;
  left: 1280.59px;
  top: 110.19px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: underline;

  color: #f97316;
}

.Rectangle48 {
  /* Rectangle 1 */

  position: absolute;
  width: 1920px;
  height: 576.76px;
  left: 0px;
  top: 198.98px;
  background: linear-gradient(
    117.07deg,
    #3b82f6 -29.07%,
    rgba(217, 217, 217, 0) 134.19%
  );
}
.Rectangle49 {
  /* Rectangle 1 */

  position: absolute;
  width: 1927.58px;
  height: 2373.03px;
  left: -5.81px;
  top: 781.08px;

  background: linear-gradient(
    117.07deg,
    #3b82f6 -29.07%,
    rgba(217, 217, 217, 0) 134.19%
  );
}

.Rectangle50 {
  /* Rectangle 48 */

  position: absolute;
  width: 290.91px;
  height: 54.72px;
  left: 94.57px;
  top: 1969.03px;

  background: #f97316;
  border-radius: 14px;
}

.Rectangle33 {
  /* Rectangle 33 */

  position: absolute;
  width: 126.91px;
  height: 38.63px;
  left: 639.25px;
  top: 79.35px;

  background: #deeafe;
  border-radius: 11px;
}
.Apply {
  /* Apply */

  position: absolute;
  width: 105.84px;
  height: 22.76px;
  left: 180.99px;
  top: 1971.85px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;

  color: #ffffff;
}

.Frame13 {
  /* Frame 13 */

  position: absolute;
  width: 473px;
  height: 240px;
  left: 1220.64px;
  top: 850.51px;

  background: #f97316;
  border-radius: 46px;
}
.unsplash {
  /* unsplash:gMsnXqILjp4 */

  position: absolute;
  width: 239.27px;
  height: 240.31px;
  left: 0px;
  top: -0.31px;
}
.Mostpopular {
  /* Most popular */

  position: absolute;
  width: 177.62px;
  height: 38px;
  left: 1220.64px;
  top: 803.87px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */

  color: #000000;
}
.EnglishPro {
  /* English pronouncation */

  position: absolute;
  width: 763.65px;
  height: 98px;
  left: 28.93px;
  top: 639.1px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 98px;
  /* identical to box height */

  color: #ffffff;
}

.EnglishPro2 {
  /* English pronouncation */

  position: absolute;
  width: 356.62px;
  height: 38px;
  left: 98.26px;
  top: 873.62px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */

  color: #000000;
}

.Messi {
  position: absolute;
  width: 981.93px;
  height: 420px;
  left: 18.45px;
  top: 5.78px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

.unsplash2 {
  position: absolute;
  width: 1920px;
  height: 567.16px;
  left: 0px;
  top: 208.57px;
}

.Rectangle51 {
  position: absolute;
  width: 1927.58px;
  height: 2173.03px;
  left: 98.26px;
  top: 961.08px;
}

.Rectangle52 {
  position: absolute;
  width: 1927.58px;
  height: 2173.03px;
  left: 98.26px;
  top: 1411.08px;
}

.EnglishWriting {
  /* English Writing */

  position: absolute;
  width: 140px;
  height: 27px;
  left: 261.47px;
  top: 18.07px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.TheclassABCD {
  position: absolute;
  width: 191.9px;
  height: 147px;
  left: 261.47px;
  top: 46.5px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}
